source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Data
nuget MathNet.Numerics.FSharp
nuget Mondocks.NET
nuget Npgsql.FSharp
nuget SQLProvider
nuget System.Data.OleDb
nuget System.DAta.SqlClient